<section id="header">
    <img class="green-shining" src="./assets/img/green.svg">
    <img class="blue-shining" src="./assets/img/blue.svg">
    <div class="headline-container">
        <div class="d-flex fc-white rotate-270 fs-90 headline-left">I am</div>
        <div class="header-box">
            <div class="header-headline fc-white">Sebastian Koehler</div>
            <div class="d-flex fc-purple fs-64">FRONTEND DEVELOPER</div>
        </div>
    </div>
    <button class="btn-1">Let's talk!</button>
</section>