<section id="about-me">
    <div class="about-me-container">

        <div class="about-me-photo">
            <img class="photo-shadow" src="./assets/img/photo_shadows.svg">
            <img class="about-me-img"src="./assets/img/Portfolio_img.png">
        </div>
        <h1 class="about-me-headline">About me</h1>
        <p class="about-me-text">
            Hallo! Ich bin Sebastian Köhler, 33 Jahre alt Netzwerkspezialist und Frontend-Entwickler aus Moers. 
            Mein beruflicher Hintergrund als IT-Systemelektroniker hat mich mit Netzwerktechnologien vertraut gemacht, 
            insbesondere der Umgang mit Cisco Komponenten.
            Neben meiner Leidenschaft für Netzwerke liebe ich die Webentwicklung. Ich gestalte benutzerfreundliche Webanwendungen und bleibe in meiner Freizeit stets auf dem neuesten Stand der Technologie. 
            Kontaktiere mich gerne, 
            wenn du Fragen hast oder über Technologie sprechen möchtest. Ich freue mich auf spannende Projekte!
        </p>
    </div>

    <div class="about-me-container-mobile d-none">
            <div class="about-me-photo-mobile">
                <img class="photo-shadow-mobile" src="./assets/img/photo_shadows.svg">
                <img src="./assets/img/Portfolio_img_mobile.png">
            </div>

        <h1 class="about-me-headline-mobile">About me</h1>
        <p class="about-me-text-mobile">
            Hallo! Ich bin Sebastian Köhler, 33 Jahre alt Netzwerkspezialist und Frontend-Entwickler aus Moers. 
            Mein beruflicher Hintergrund als IT-Systemelektroniker hat mich mit Netzwerktechnologien vertraut gemacht, 
            insbesondere der Umgang mit Cisco Komponenten.
            Neben meiner Leidenschaft für Netzwerke liebe ich die Webentwicklung. Ich gestalte benutzerfreundliche Webanwendungen und bleibe in meiner Freizeit stets auf dem neuesten Stand der Technologie. 
            Kontaktiere mich gerne, 
            wenn du Fragen hast oder über Technologie sprechen möchtest. Ich freue mich auf spannende Projekte!
        </p>
    </div>

</section>