<!-- <div class="navbar-container">
    <div class="navbar-logo"><img src="./assets/img/logo.png"></div>
    <div class="navbar-links">
        <a href="#about-me">About me</a><a href="#skills">Skills</a><a href="#portfolio">Portfolio</a><a href="#contact">Contact</a>
    </div>
</div> -->

<!-- <div class="navbar-container">
    <div class="navbar-logo"><img src="./assets/img/logo.png"></div>
    <div class="navbar-links">
        <a href="#about-me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </div>
    <div class="burger-menu">
        <div class="burger-icon">&#9776;</div>
    </div>
</div>

<div class="navbar-container-mobile">
    <div class="navbar-menu-mobile">
        <div class="close-icon" [ngClass]="{'open': isMenuOpen}">&#10006;</div>
        <ul>
            <li><a href="#about-me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        
    </div>
</div> -->

<div class="navbar-container">
    <div class="navbar-logo"><img src="./assets/img/logo.png"></div>
    <div class="navbar-links">
        <a href="#about-me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </div>
    <div class="burger-menu" (click)="toggleMobileMenu()">
        <div class="burger-icon" [ngClass]="{'open': isMenuOpen}">
            <span *ngIf="!isMenuOpen">&#9776;</span>
            <span *ngIf="isMenuOpen">&#10006;</span>
        </div>
    </div>
</div>

<div class="navbar-container-mobile" [ngClass]="{'open': isMenuOpen}">
    <div class="navbar-menu-mobile">
        <div class="close-icon" (click)="toggleMobileMenu()">&#10006;</div>
        <ul>
            <li><a (click)="closeMenu()"href="#about-me">About me</a></li>
            <li><a (click)="closeMenu()"href="#skills">Skills</a></li>
            <li><a (click)="closeMenu()"href="#portfolio">Portfolio</a></li>
            <li><a (click)="closeMenu()"href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
