<section id="contact">
    <div class="contact-headline-container">
        <div class="contact-headline">
            Contact
        </div>
        <div class="blue-line"></div>
    </div>
    <div class="contact-container">
        <div class="contact-description-container">
            <div class="contact-description-headline-container">
                <div class="green-line">
                </div>
                <div class="contact-description-headline">
                    Got a problem to solve?
                </div>
            </div>
            <div class="contact-description">
                Contact me through his form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
                <br>
                Need a Frotend developer? <b>Contact me!</b>
            </div>
        </div>
        <app-contact-form class="contact-form"></app-contact-form>
    </div>

<a href="#"><img class="up-btn" src="./assets/img/up_button.svg"></a>
</section>