#contact {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 32px;
}

.contact-headline-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
}

.contact-headline {
    position: relative;
    display: flex;
    color: white;
    font-size: 90px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.blue-line {
    position: absolute;
    display: flex;
    height: 4px;
    background-color: #00BEE8;
    justify-content: flex-end;
    border-radius: 25px;
    width: 40%;
    right: 0;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact-description-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;


}

.green-line {
    display: flex;
    height: 4px;
    justify-content: flex-start;
    width: 10%;
    border-radius: 25px;
    background-color: #1CE6B6;
}

.contact-description-headline-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact-description-headline {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    color: white;
}

.contact-description {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: calc(10% + 32px);
    padding-right: 32px;
}

.contact-form {
    display: flex;
    width: 50%;
}

.up-btn {
    display: flex;
    position: absolute;
    right: 64px;
    bottom: 0px;

}


.contact-description-mobile {
    display: flex;
    color: white;
    padding-left: 10%;
    padding-right: 32px;
    gap: 16px;
}

@media screen and (max-width: 1700px) {
    .blue-line {
        width: 35%;
    }
}

@media screen and (max-width: 1320px) {
    #contact {
        gap: 32px;
    }

    .blue-line {
        width: 25%;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .contact-form {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .contact-headline {
        font-size: 4rem;
    }
}

//   @media screen and (min-width: 800px) {
//     .contact-description-mobile{
//         display: flex;
//     }
//   }


@media screen and (max-width: 800px) {
    .up-btn {
        display: none;
    }

    .contact-description-container {
        width: 100%;
    }

    .contact-description {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .contact-description-mobile {
        display: none;
    }
}


@media screen and (max-width: 550px) {
    .blue-line {
        width: 15%;
    }
}

@media screen and (max-width: 500px) {
    .contact-description-headline {
        font-size: 1.2rem;
    }
}