<section id="skills">
    <div class="skill-container">
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/Icons.svg">
                <div>JavaScript</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Angular.svg">
                <div>Angular</div>
            </div>
            <div class="skill">
                <img src="./assets/img/ts.svg">
                <div>TypeScript</div>
            </div>
            <div class="skill">
                <img src="./assets/img/html.svg">
                <div>HTML</div>
            </div>
        </div>
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/git.svg">
                <div>GIT</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Firebase.svg">
                <div>Firebase</div>
            </div>
            <div class="skill">
                <img src="./assets/img/CSS.svg">
                <div>CSS</div>
            </div>
        </div>

        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/scrum.svg">
                <div>Scrum</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Api.svg">
                <div>Rest-Api</div>
            </div>
        </div>
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/Frame.svg">
                <div>Material <br>Design</div>
            </div>
        </div>
    </div>
    <div class="skills-description-container">
        <div class="skills-headline-container">
            <div class="headline-white">Skills</div>
            <div class="blue-line"></div>
        </div>
        <div class="skills-description">
            Ich habe wertvolle Erfahrungen im Entwickeln von Projekten mit einer Vielzahl von Frontend-Technologien und Konzepten gesammelt. Dies spiegelt meine Leidenschaft für kreative Gestaltung und innovative Lösungen wieder.
        </div>
        <button class="btn-2">Get in touch</button>
    </div>
</section>

<!-- Mobile -->

<section id="skills-mobile">
    <div class="skills-description-container">
        <div class="skills-headline-container">

            <div class="headline-white">Skills</div>
            <div class="blue-line"></div>

        </div>
        <div class="skills-description">
            I have gained experience in building projects with carious front end technologies and concepts.
        </div>
    </div>
    <div class="skill-container">
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/Icons.svg">
                <div>JavaScript</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Angular.svg">
                <div>Angular</div>
            </div>
            <div class="skill">
                <img src="./assets/img/ts.svg">
                <div>TypeScript</div>
            </div>
            <div class="skill">
                <img src="./assets/img/html.svg">
                <div>HTML</div>
            </div>
        </div>
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/git.svg">
                <div>GIT</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Firebase.svg">
                <div>Firebase</div>
            </div>
            <div class="skill">
                <img src="./assets/img/CSS.svg">
                <div>CSS</div>
            </div>
        </div>

        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/scrum.svg">
                <div>Scrum</div>
            </div>
            <div class="skill">
                <img src="./assets/img/Api.svg">
                <div>Rest-Api</div>
            </div>
        </div>
        <div class="skill-row">
            <div class="skill">
                <img src="./assets/img/Frame.svg">
                <div>Material <br>Design</div>
            </div>
        </div>
    </div>
    <button class="btn-2">Get in touch</button>
</section>