#skills {
    display: flex;
    padding-top: 64px;
    justify-content: space-between;
    padding-left: 10%;
    gap: 5%;
}

.skill-container {
    display: flex;
    gap: 91px;
    flex-direction: column;
}

.skill-row {
    display: flex;
    justify-content: flex-start;
    color: white;
    gap: 91px;
}

.skill {
    display: flex;
    object-fit: contain;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    text-align: center;
    z-index: 1;
    font-weight: bold;
    transition: all 125ms ease-in-out;


    &:hover {
        transform: translateY(1rem);
        transition: all 125ms ease-in-out;
        cursor: pointer;
    }
}


.skills-description-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.skills-headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.skills-description {
    display: flex;
    color: white;
    width: 70%;
}

.headline-white {
    color: white;
    font-size: 90px;
    font-weight: bold;
}

.blue-line {
    width: 100%;
    height: 4px;
    border-radius: 25px;
    background-color: #1CDAE6;
}

#skills-mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.animated-row {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
}

.animated-row.animate {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1700px) {
    .skills-description {
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    .headline-white {
        font-size: 4rem;
    }

    .skill-container {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    .skill-row {
        display: flex;
        justify-content: flex-start;
        color: white;
        gap: 32px;
    }


}

@media screen and (min-width: 800px) {
    #skills-mobile {
        display: none;
    }


}

@media screen and (max-width: 800px) {
    #skills {
        display: none;
    }

    .skill-row {
        padding-left: 10%;
    }

    .skills-description-container {
        padding-left: 10%;
    }
}

@media screen and (max-width: 450px) {
    .skill {
        object-fit: contain;
        min-width: 25%;

        img {
            height: 50px;
        }


    }


}