<section id="portfolio">
    <div class="portfolio-headline-container">
        <div class="headline-container">
            <div class="purple-line"></div>
            <div class="headline-portfolio">Portfolio</div>
        </div>
        <div class="portfolio-description">
            Hier finden Sie eine Auswahl meiner Projekte, die meine Leidenschaft und Expertise für kreative Lösungen und innovative Gestaltung demonstrieren.
        </div>
    </div>

    <div class="projects-container">
        <div class="projects-row">
            <div class="project-container">
                <img class="project-img" src="./assets/img/elpolloloco.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            El Pollo Loco
                        </div>
                        <div class="project-description-text">
                            Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
                            tabasco salsa to fight against the crazy hen.
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-container">
                <img class="project-img" src="./assets/img/pokedex.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            Pokédex
                        </div>
                        <div class="project-description-text">
                            Based on the PokeAPI a simple library that provides and catalogues pokemon information
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS | API
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="projects-row">
            <div class="project-container">
                <img class="project-img" src="./assets/img/join.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            Join
                        </div>
                        <div class="project-description-text">
                            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-container">
                <img class="project-img" src="./assets/img/join.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            El Pollo Loco
                        </div>
                        <div class="project-description-text">
                            Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
                            tabasco salsa to fight against the crazy hen.
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>