<section id="portfolio">
    <div class="portfolio-headline-container">
        <div class="headline-container">
            <div class="purple-line"></div>
            <div class="headline-portfolio">Portfolio</div>
        </div>
        <div class="portfolio-description">
            Hier finden Sie eine Auswahl meiner Projekte, die meine Leidenschaft und Expertise für kreative Lösungen und innovative Gestaltung demonstrieren.
        </div>
    </div>

    <div class="projects-container">
        <div class="projects-row">
            <div class="project-container">
                <img class="project-img" src="./assets/img/elpolloloco.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button (click)="openProject('https://koehler-sebastian.de/projects/ElPolloLoco/index.html')"  class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            El Pollo Loco
                        </div>
                        <div class="project-description-text">
                            Sprung-, Lauf- und Wurfspiel, das auf einem objektorientierten Ansatz basiert. Hilf Pepe, Münzen zu finden und
                            und Tabasco-Salsa zu finden, um gegen die verrückte Henne zu kämpfen.
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS
                        </div>
                    </div>
                </div>

            </div>
            <div class="project-container">
                <img class="project-img" src="./assets/img/pokedex.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button (click)="openProject('https://koehler-sebastian.de/projects/Pokedex/index.html')"  class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            Pokédex
                        </div>
                        <div class="project-description-text">
                            Basierend auf der PokeAPI eine einfache Bibliothek, die Pokemon-Informationen bereitstellt und katalogisiert
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS | API
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="projects-row">
            <div class="project-container">
                <img class="project-img" src="./assets/img/join.svg">
                <div class="image-overlay"></div>
                <div class="project-description-container">
                    <div class="button-row">
                        <button class="btn-3">Git Hub</button>
                        <button (click)="openProject('https://koehler-sebastian.de/projects/Join_app/index.html')" class="btn-4">Live test</button>
                    </div>
                    <div class="project-description">

                        <div class="project-headline">
                            Join
                        </div>
                        <div class="project-description-text">
                            Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie Aufgaben mit Hilfe von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu.
                        </div>
                        <div class="coding-description">
                            JavaScript | HTML | CSS
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>