<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="./assets/img/logo.png" alt="">
            <div>Impressum</div>
        </div>
        <div class="copyright">© Sebastian Köhler 2023</div>
        <div class="social">
            <img src="./assets/img/social_cat.svg">
            <img src="./assets/img/social_mail.svg">
            <img src="./assets/img/social_in.svg">
        </div>
    </div>

    <div class="footer-container-mobile">
        <div class="footer-logo-mobile">
            <img src="./assets/img/logo.png">
        </div>
        <div class="copyright-mobile">© Sebastian Köhler 2023</div>
        <div class="social-mobile">
            <img src="./assets/img/social_cat.svg">
            <img src="./assets/img/social_mail.svg">
            <img src="./assets/img/social_in.svg">
        </div>
        <div class="impress-mobile">Impressum</div>
    </div>


</footer>