<div class="overlay" (click)="handleOverlayClick($event)">


    <section id="train">
        <button routerLink="/" class="close-button">&#10006;</button>
        <div class='policy'>
            <div class="train-content">
                <h1>Nur zur Weiterbildung
                </h1>
                <div>
                    Diese Seite wurde ausschließlich für Weiterbildungszwecke gebaut und wird im sinne des Selbststudiums genutzt,
                </div>
                <div>
                    aus diesem Grund werden hier keine Profile verlinkt.
                </div>
            </div>
        </div>
    </section>
</div>